@page
@model SampleApp.Pages.IndexModel
@{
    ViewData["Title"] = "SecretOps ASP.NET Core DopplerClient";
}

<div class="row justify-content-center">
    <div class="col-8 text-center">
        <p class="lead">Fetched Doppler secrets injected into builder.Configuration so classes can request an AppSettings instance via Dependency Injection.</p>

        <h2 class="h5 mt-5">Doppler Meta</h2>

        <table class="table table-dark table-striped table-bordered mt-4">
            <thead class="thead-light">
            <tr>
                <th scope="col">Key</th>
                <th scope="col">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Doppler Project</td>
                <td>@Model.AppSettings.DopplerProject</td>
            </tr>
            <tr>
                <td>Doppler Environment</td>
                <td>@Model.AppSettings.DopplerEnvironment</td>
            </tr>
            <tr>
                <td>Doppler Config</td>
                <td>@Model.AppSettings.DopplerConfig</td>
            </tr>
            </tbody>
        </table>

        <h2 class="h5 mt-5">Single Keys</h2>

        <table class="table table-dark table-striped table-bordered mt-4">
            <thead class="thead-light">
            <tr>
                <th scope="col">Key</th>
                <th scope="col">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Debug (bool)</td>
                <td>@Model.AppSettings.Debug</td>
            </tr>
            <tr>
                <td>Logging (enum)</td>
                <td>@Model.AppSettings.Logging</td>
            </tr>
            </tbody>
        </table>

        <h2 class="h5 mt-5">Stmp Nested Class</h2>

        <table class="table table-dark table-striped table-bordered mt-4">
            <thead class="thead-light">
            <tr>
                <th scope="col">Key</th>
                <th scope="col">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Server</td>
                <td>@Model.AppSettings.Smtp.Server</td>
            </tr>
            <tr>
                <td>Port</td>
                <td>@Model.AppSettings.Smtp.Port</td>
            </tr>
            <tr>
                <td>FromAddress</td>
                <td>@Model.AppSettings.Smtp.FromAddress</td>
            </tr>
            <tr>
                <td>UserName</td>
                <td>@Model.AppSettings.Smtp.UserName</td>
            </tr>
            <tr>
                <td>Password</td>
                <td>@Model.AppSettings.Smtp.Password</td>
            </tr>
            </tbody>
        </table>

        <h2 class="h5 mt-5 mb-3">Secret Value as Class via Interface</h2>

        <p class="lead">Example of creating an interface that every secret must implement to ensure consistency and for use cases such as each secret requiring metadata fields.</p>

        <table class="table table-dark table-striped table-bordered mt-4">
            <thead class="thead-light">
            <tr>
                <th scope="col" colspan="2">ApiKey</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Encrypted</td>
                <td>@Model.AppSettings.ApiKey.Encrypted</td>
            </tr>
            <tr>
                <td>Encryption</td>
                <td>@Model.AppSettings.ApiKey.Encryption</td>
            </tr>
            <tr>
                <td>Value</td>
                <td>@Model.AppSettings.ApiKey.Value</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>